.header {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  height: 55px;
  width: 100vw;
  background-color: white;
  border-top: 1px solid #aaa;
  border-bottom: 1px solid #aaa;
  margin: 0 auto;
  z-index: 22;
}

.header-menu {
  display: flex;
  justify-content: space-between;
  list-style: none;
}

.header-wrapper {
  display: flex;
  justify-content: center;
  width: 100vw;
  height: 55px;
  z-index: 1111;
  white-space: normal;
  background-color: white;
}

.header-link {
  position: relative;
  display: block;
  padding: 0 .75rem;
  font-size: .975rem;
  color: #1e1e1e;
  line-height: 1.2;
  font-optical-sizing: auto;
  font-weight: 300;
}
