.pageContainer {
  min-height: 100vh;
  height: auto;
}

.section {
  position: relative;
  z-index: 1;
  background-color: white;

  &-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    overflow-x: hidden;
  }

  &-horizontal {
    display: flex;
    flex-direction: row;
    width: max-content;
  }

  &-tempo {
    width: 100vw;
    height: 100vh;
  }
}

.button {
  display: none;
  width: 120px;
  height: 120px;
  position: fixed;
  bottom: 20px;
  right: 20px;
  padding: 10px 20px;
  background-color: #000;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1111;
}
