.pageContainer {
  min-height: 100vh;
  height: auto;
}

.section {
  position: relative;
  z-index: 1;
  background-color: white;

  &-wrapper {
    width: 100%;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    border-top: 1px solid #333;
    border-bottom: 1px solid #333;
    overflow-x: hidden;
  }

  &-horizontal {
    display: flex;
    flex-direction: row;
    width: max-content;
  }

  &-tempo {
    width: 100vw;
    height: 100vh;
  }
}

.button {
  width: 90px;
  height: 90px;
  position: fixed;
  bottom: 90px;
  right: 30px;
  opacity: 0;
  padding: 10px 20px;
  background-color: #1e1e1e;
  border: none;
  border-radius: 100%;
  cursor: pointer;
  z-index: 1111;
  background-image: url(../../../public/arrow-totop.svg);
  background-size: 30px auto;
  background-repeat: no-repeat;
  background-position: center;
  transition: transform 0.3s ease-in-out
              opacity 0.2 ease;

  &:hover {
    animation: enlarge 0.3s forwards;
}

@keyframes enlarge {
  0% {
    transform: scale(1) translateY(0);
  }
  100% {
    transform: scale(1.1) translateY(0);
  }
}
}
