@import "../../app/global-fonts";

.title {
  width: 14vw;
  height: 100vh;
  position: relative;

  &-verticalContainer {
    position: absolute;
    display: flex;
    align-items: center;
    transform: translate(-50%, -50%) rotate(270deg);
    width: 100vh;
    height: 14vw;
    left: calc(50% - 18px);
    top: 50%;
  }

  &-container {
    position: relative;
    overflow: hidden;
  }

  &-wrapper {
    display: flex;
    align-items: center;
  }

  &-item {
    font-family: sans-serif;
    font-size: 10rem;
    white-space: nowrap;
    flex-shrink: 0;
    line-height: 160%;
    @include font ($noto, 400);
    animation: ticker 20s linear infinite;
    color: #1e1e1e;

    &::after {
      content: "";
      height: 3px;
      width: 9rem;
      background-color: #1e1e1e;
      margin: 0 3.75rem;
      display: inline-block;
      background-color: currentColor;
      vertical-align: middle;
    }
  }
}


@keyframes ticker {
  0% {
    transform: translate3d(0, 0, 0);
  }
  to {
    transform: translate3d(-100%, 0, 0);
  }
}
