@font-face {
  font-family: 'Roobert Pro';
  src: url('../../public/assets/font/RoobertPRO-Bold.woff2') format('woff2'),
       url('../../public/assets/font/RoobertPRO-Bold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert Pro';
  src: url('../../public/assets/font/RoobertPRO-Medium.woff2') format('woff2'),
       url('../../public/assets/font/RoobertPRO-Medium.woff') format('woff');
  font-weight: 600;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert Pro';
  src: url('../../public/assets/font/RoobertPRO-Regular.woff2') format('woff2'),
       url('../../public/assets/font/RoobertPRO-Regular.woff') format('woff');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Roobert Pro';
  src: url('../../public/assets/font/RoobertPRO-Light.woff2') format('woff2'),
       url('../../public/assets/font/RoobertPRO-Light.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@font-face {
  font-family: 'GT Light';
  src: url('../../public/assets/font/gtlight.woff2') format('woff2'),
       url('../../public/assets/font/gtlight.woff') format('woff');
  font-weight: 200;
  font-style: normal;
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Serif+Display:wdth,wght@62.5..100,100..900&display=swap');

$roobert: 'Roobert Pro', Inter, sans-serif;
$gtlight: 'GT Light', Times, sans-serif;
$noto : 'Noto Serif Display', Times, sans-serif;

@mixin font($family: var(--roobert) , $weight: 400) {
  font-family: $family, sans-serif;
  font-weight: $weight;
  font-style: normal;
}

