
.description {
  position: relative;
  color: black;
  font-size: 2.8vw;
  text-transform: uppercase;
  margin-top: 30vw;
  margin-left: 10vw;
  margin-bottom: 10vw;
}

.description-right {
  text-align: end;
  margin-top: 0vw;
  margin-right: 10vw;
}

.description p {
  margin: 0px;
  position: relative;
}
