@import "../../app/global-fonts";

.wrapper {
  position: relative;
  margin: 50px 0;
  width: 100vw;
  margin-right: 1.5rem;
  overflow: hidden;
}

.slider {
  width: 100vw;
  height: 100vh;
  margin: 0;
  pointer-events: none;
}

.slide {
  width: 100vw;
  height: 100vh;

  &-image {
    width: inherit;
    height: inherit;
    object-fit: cover;
  }
}

.counter {
  height: 22px;
  color: #1e1e1e;
  pointer-events: none;

  &-container {
    position: absolute;
    top: 55%;
    right: 0;
    padding: 0 1.8rem;
    font-size: 1.2rem;
    z-index: 10;
    mix-blend-mode: difference;
    filter: invert(1);
  }

  &-wrapper {
    display: flex;
    align-items: center;
    font-size: 1.2rem;
    @include font ($noto, 400);
  }

  &-item {
    display: flex;
    align-items: center;
  }

  &-base {
    display: flex;
    align-items: center;
    vertical-align: middle;

    &::before {
      content: " ";
      display: block;
      margin: 0 5px;
      height: 1px;
      width: 16px;
      background-color: #1e1e1e;
    }
  }

  &-line {
    width: 1px;
    height: 25vh;
    background-color: #1e1e1e;
    margin: 1.5rem auto 0;
  }
}

.slider-button-next {
  width: 120px;
  height: 120px;
  position: absolute !important;
  background-color: #1e1e1e;
  border-radius: 50%;
  transition: transform 0.3s ease, left 0.3s ease, top 0.3s ease;
  z-index: 15 !important;
  border: none;
  outline: none;
  animation: exit 800ms forwards;
}

.wrapper:hover .slider-button-next {
  animation: enter 800ms forwards;
}


@keyframes enter {
  from {
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }

  to {
    transform: translate(calc(var(--x) - 50%), calc(var(--y) - 50%));
  }
}

@keyframes exit {
  from {
    transform: translate(calc(var(--x) - 50%), calc(var(--y) - 50%));
  }

  to {
    left: 50%;
    top: 65%;
    transform: translate(-50%, -50%);
  }
}
